# Build artifacts
bin/
obj/
*.dll
*.pdb
*.cache
*.log
*.db
*.db-shm
*.db-wal

# VS Code
.vscode/

# Dotnet artifacts
*.deps.json
*.runtimeconfig.json
*.staticwebassets.runtime.json
*.staticwebassets.sources.json
*.staticwebassets.build.json

.DS_Store

# EF Core и NuGet artifacts
*.nuget.g.props
*.nuget.g.targets
project.assets.json
CustomerApi.AssemblyInfo.cs
CustomerApi.AssemblyInfoInputs.cache
CustomerApi.assets.cache

